[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
ipykernel = "*"

[packages]
spotipy = "*"
dotenv = "*"
numpy = "*"
pandas = "*"
tensorflow = "*"
python-dotenv = "*"
ipykernel = "*"
scikit-learn = "*"

[requires]
python_version = "3.7"
